// Typography variables

// Font sizes
$font-size-small: 0.75rem !default;
$font-size-normal: 1rem !default;

// Font weights
$font-weight-bold: var(--t-body-font-weight-bold) !default;
$font-weight-normal: var(--t-body-font-weight) !default;

// Font families
$font-family-heading: var(--t-body-font-family-heading) !default;
$font-family-default: var(--t-body-font-family) !default;

// Monospace font stack
$font-stack-mono: var(--t-font-stack-mono) !default;

// Body
$body-font-family: var(--t-body-font-family) !default;
$body-font-size: var(--t-body-font-size) !default;
$body-font-weight: var(--t-body-font-weight) !default;
$body-line-height: var(--t-body-line-height) !default;
