.t-descr-2xs {
  font-size: 0.75;
  line-height: 1.55;
}

.t-descr-xs {
  font-size: 0.875rem;
  line-height: 1.55;
}

.t-descr-sm {
  font-size: 1rem;
  line-height: 1.55;
}

.t-descr-md {
  font-size: 1rem;
  line-height: 1.55;
}

.t-descr-lg {
  font-size: 1rem;
  line-height: 1.55;

  @include breakpoint(md) {
    font-size: 1.111rem;
  }

  @include breakpoint(xl) {
    font-size: 1.25rem;
  }
}

.t-descr-xl {
  font-size: 1.111rem;
  line-height: 1.55;

  @include breakpoint(md) {
    font-size: 1.25rem;
  }

  @include breakpoint(xl) {
    font-size: 1.333rem;
  }
}

.t-descr-2xl {
  font-size: 1.111rem;
  line-height: 1.55;

  @include breakpoint(md) {
    font-size: 1.25rem;
  }

  @include breakpoint(xl) {
    font-size: 1.444rem;
  }
}

.t-descr-3xl {
  font-size: 1.25rem;
  line-height: 1.55;

  @include breakpoint(md) {
    font-size: 1.444rem;
  }

  @include breakpoint(xl) {
    font-size: 1.666rem;
  }
}
