[class~='t-descr'],
[class*='t-descr-'] {
  font-weight: var(--t-body-font-weight);
  line-height: 1.55;
}

.t-descr-2xs {
  font-size: 0.666rem;

  @include breakpoint(xl) {
    font-size: 0.777rem;
  }
}

.t-descr-xs {
  font-size: 0.666rem;

  @include breakpoint(md) {
    font-size: 0.777rem;
  }

  @include breakpoint(xl) {
    font-size: 0.888rem;
  }
}

.t-descr-sm {
  font-size: 0.777rem;

  @include breakpoint(md) {
    font-size: 0.888rem;
  }

  @include breakpoint(xl) {
    font-size: 1rem;
  }
}

.t-descr-md {
  font-size: 0.888rem;

  @include breakpoint(md) {
    font-size: 1rem;
  }

  @include breakpoint(xl) {
    font-size: 1.111rem;
  }
}

.t-descr-lg {
  font-size: 1rem;

  @include breakpoint(md) {
    font-size: 1.111rem;
  }

  @include breakpoint(xl) {
    font-size: 1.222rem;
  }
}

.t-descr-xl {
  font-size: 1.111rem;

  @include breakpoint(md) {
    font-size: 1.222rem;
  }

  @include breakpoint(xl) {
    font-size: 1.333rem;
  }
}

.t-descr-2xl {
  font-size: 1.111rem;

  @include breakpoint(md) {
    font-size: 1.222rem;
  }

  @include breakpoint(xl) {
    font-size: 1.444rem;
  }
}

.t-descr-3xl {
  font-size: 1.222rem;

  @include breakpoint(md) {
    font-size: 1.444rem;
  }

  @include breakpoint(xl) {
    font-size: 1.666rem;
  }
}
