[class~='t-text'],
[class*='t-text-'] {
  line-height: 1.55;

  @include breakpoint(md) {
    line-height: 1.45;
  }
}

.t-text-xs {
  font-size: 0.666rem;

  @include breakpoint(md) {
    font-size: 0.777rem;
  }

  @include breakpoint(xl) {
    font-size: 0.833rem;
  }
}

.t-text-sm {
  font-size: 0.777rem;

  @include breakpoint(md) {
    font-size: 0.888rem;
  }

  @include breakpoint(xl) {
    font-size: 1rem;
  }
}

.t-text-md {
  font-size: 0.888rem;

  @include breakpoint(md) {
    font-size: 1rem;
  }

  @include breakpoint(xl) {
    font-size: 1.111rem;
  }
}

.t-text-lg {
  font-size: 1rem;

  @include breakpoint(md) {
    font-size: 1.111rem;
  }

  @include breakpoint(xl) {
    font-size: 1.222rem;
  }
}
