[class~='t-title'],
[class*='t-title-'] {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
  line-height: 1.22;
  // to wrap by Line break
  white-space: pre-wrap;
}

.t-title-2xs {
  font-size: 1.555rem;

  @include breakpoint(md) {
    font-size: 1.777rem;
  }

  @include breakpoint(xl) {
    font-size: 2rem;
  }
}

.t-title-xs {
  font-size: 1.666rem;

  @include breakpoint(md) {
    font-size: 2.111rem;
  }

  @include breakpoint(xl) {
    font-size: 2.333rem;
  }
}

.t-title-sm {
  font-size: 1.666rem;

  @include breakpoint(md) {
    font-size: 2.444rem;
  }

  @include breakpoint(xl) {
    font-size: 2.666rem;
  }
}

.t-title-md {
  font-size: 1.666rem;

  @include breakpoint(md) {
    font-size: 2.666rem;
  }

  @include breakpoint(xl) {
    font-size: 2.888rem;
  }
}

.t-title-lg {
  font-size: 1.666rem;

  @include breakpoint(md) {
    font-size: 3.333rem;
  }

  @include breakpoint(xl) {
    font-size: 3.555rem;
  }
}

.t-title-xl {
  font-size: 1.666rem;
  line-height: 1.17;

  @include breakpoint(sm) {
    font-size: 1.777rem;
  }

  @include breakpoint(md) {
    font-size: 3.777rem;
  }

  @include breakpoint(xl) {
    font-size: 4rem;
  }
}

.t-title-2xl {
  font-size: 1.666rem;
  line-height: 1.17;

  @include breakpoint(sm) {
    font-size: 2rem;
  }

  @include breakpoint(md) {
    font-size: 4.333rem;
  }

  @include breakpoint(xl) {
    font-size: 4.555rem;
  }
}

.t-title-3xl {
  font-size: 1.666rem;
  line-height: 1;

  @include breakpoint(sm) {
    font-size: 2rem;
  }

  @include breakpoint(md) {
    font-size: 4.333rem;
  }

  @include breakpoint(xl) {
    font-size: 5.555rem;
    line-height: 1.22;
  }
}

.t-title-4xl {
  font-size: 1.666rem;
  line-height: 1;

  @include breakpoint(sm) {
    font-size: 2rem;
  }

  @include breakpoint(md) {
    font-size: 4.333rem;
  }

  @include breakpoint(xl) {
    font-size: 7.222rem;
    line-height: 1.22;
  }
}
