[class~='t-utitle'],
[class*='t-utitle-'] {
  font-family: var(--t-body-font-family);
  font-weight: var(--t-body-font-weight-bold);
  letter-spacing: 2.5px;
}

.t-utitle-xs {
  font-size: 0.555rem;

  @include breakpoint(md) {
    font-size: 0.666rem;
  }
}

.t-utitle-sm {
  font-size: 0.555rem;

  @include breakpoint(md) {
    font-size: 0.666rem;
  }

  @include breakpoint(xl) {
    font-size: 0.777rem;
  }
}

.t-utitle-md {
  font-size: 0.666rem;

  @include breakpoint(md) {
    font-size: 0.777rem;
  }

  @include breakpoint(xl) {
    font-size: 0.888rem;
  }
}

.t-utitle-lg {
  font-size: 0.666rem;

  @include breakpoint(md) {
    font-size: 0.777rem;
  }

  @include breakpoint(xl) {
    font-size: 1rem;
  }
}
