[class~='t-utitle'],
[class*='t-utitle-'] {
  font-weight: $font-weight-bold;
  letter-spacing: 2.5px;
  // to wrap by Line break
  white-space: pre-wrap;
}

.t-utitle-xs {
  font-size: 0.75rem;
}

.t-utitle-sm {
  font-size: 0.875rem;
}

.t-utitle-md {
  font-size: 1rem;
}

.t-utitle-lg {
  font-size: 1rem;

  @include breakpoint(md) {
    font-size: 1.125rem;
  }
}
