// Layout

/* Vertical align middle */
.v-align-middle      { vertical-align: middle !important; }

/* Vertical align top */
.v-align-top         { vertical-align: top !important; }

/* Vertical align bottom */
.v-align-bottom      { vertical-align: bottom !important; }

/* Vertical align to the top of the text */
.v-align-text-top    { vertical-align: text-top !important; }

/* Vertical align to the bottom of the text */
.v-align-text-bottom { vertical-align: text-bottom !important; }

/* Vertical align to the parent's baseline */
.v-align-baseline    { vertical-align: baseline !important; }
