// Font styles

/* Set the font weight to normal */
.t-font-normal {
  font-weight: $font-weight-normal !important;
}

/* Set the font weight to bold */
.t-font-bold {
  font-weight: $font-weight-bold !important;
}

// Text alignments
// Responsive text alignment
@each $breakpoint, $variant in $responsive-variants {
  @include breakpoint($breakpoint) {
    /* Text align to the right */
    .text#{$variant}-right {
      text-align: right !important;
    }

    /* Text align to the left */
    .text#{$variant}-left {
      text-align: left !important;
    }

    /* Text align to the center */
    .text#{$variant}-center {
      text-align: center !important;
    }
  }
}

// Text styles

/* Make text uppercase */
.text-uppercase { text-transform: uppercase !important; }

/* Underline text */
.text-underline { text-decoration: underline !important; }

/* Don't underline text */
.no-underline { text-decoration: none !important; }

/* Make text capitalized (transforms first character to uppercase) */
.text-capitalize { text-transform: capitalize !important; }
