.t-cover,
.t-cover-filter {
  width: 100%;
  height: 900px;
}

.t-cover {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.t-cover-filter {
  position: absolute;
  inset: 0;
}
