.t-cover {
  position: relative;
  height: 700px;
  overflow: hidden;
  vertical-align: middle;
}

.t-cover-carrier,
.t-cover-filter {
  width: 100%;
  height: 100%;
}

.t-cover-carrier {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.t-cover-filter,
.t-cover-content {
  position: absolute;
  inset: 0;
}
