// stylelint-disable selector-max-type, no-duplicate-selectors

// Base button styles
.t-btn {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  line-height: 20px; // Specifically not inherit our `<body>` default
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  border-radius: 0.25rem;
  appearance: none; // Corrects inability to style clickable `input` types in iOS.

  &:hover {
    text-decoration: none;
  }

  &:disabled,
  &.disabled,
  &[aria-disabled='true'] {
    cursor: default;
  }

  i {
    font-style: normal;
    opacity: 0.75;
  }
}

// Default button

.t-btn {
  color: var(--t-fg-default);
  background-color: transparent;
  border-color: transparent;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, opacity, box-shadow, border-color;

  &:hover,
  &.hover,
  [open] > & {
    transition-duration: 0.1s;
  }

  &:active {
    transition: none;
  }
}
