$default: (
  // default font stack
  font-stack:
    "-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Roboto, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'",
  // mono font stack
  // Note: SFMono-Regular needs to come before SF Mono to fix an older version of the font in Chrome
  font-stack-mono: 'ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace'
);

$body: (
  font-size: 18px,
  line-height: 1.25,
  font-family: var(--t-font-stack),
  font-family-heading: var(--t-font-stack),
  font-weight: 300,
  font-weight-bold: 600,
);

$colors: (
  fg: (
    default: #1f2328,
    muted: #656d76,
    subtle: #6e7781,
    on-emphasis: #fff,
  ),
  bg: (
    default: #fff,
    subtle: #f6f8fa,
    inset: #f6f8fa,
    overlay: #fff,
  ),
  accent: (
    fg: #0969da,
    muted: #184982,
    on-hover: #1372de,
    emphasis: #0969da,
  ),
  border: (
    default: #d0d7de,
    muted: #d8dee4,
  ),
);
